@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
 
--White: #ffffff;
--Slate-300: #d6e2f0;
--Slate-500: #68778d;
--Slate-900: #1f3251;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main-container{
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--White) ;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);   
}

.qr-code-container img{
    width: 288px;
    margin: 16px;
    border-radius: 10px;  
    object-fit: cover;
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 24px 32px 24px;
}
.text-container h1{
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: var(--Slate-900) !important;
    text-align: center;
}
.text-container p{
    font-size: 15px;
    font-weight: 400;
    color: var(--Slate-500) !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.footer{
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--White) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--Slate-500) !important;
    text-align: center;
}

@media (max-width: 375px) {
    .main-container{
        width: 250px;
        height: 400px;
    }
    .qr-code-container img{
        width: 220px;
        height: 220px;
    }
    .text-container h1{
        font-size: 16px;
    }
    .text-container p{
        font-size: 12px;
    }
}
